<h1>Add a word</h1>

<p>Add a word here:</p>

<form action="/words" method="post">
  <label for="inputtedWord">Word</label>
  <input id="inputtedWord" name="inputtedWord" type="text">
  <button type="submit" class="btn btn-success">Add new word</button>
</form>
